.side-bar
  .side-bar__top
    .side-bar__top__username taka
    .side-bar__top__box
      = link_to "#" do
        .side-bar__top__box__create 事業所の新規作成
      = link_to "#" do
        .side-bar__top__box__login_logout ログアウト
  .side-bar__list
    = link_to "#" do
      .side-bar__list__item AAA社
    = link_to "#" do
      .side-bar__list__item BBB社
    = link_to "#" do
      .side-bar__list__item CCC社