.wrapper
  = render partial: "side-bar"
  .main
    .main__top
      .main__top__company_name AAA社
      .main__top__box
        = link_to new_debt_path do
          .main__top__box__create 借入金登録
        = link_to debts_transition_balance_path do
          .main__top__box__index 借入金推移
        = link_to root_path do
          .main__top__box__index 借入金一覧
    .main__contents
      %table.main__contens__table
        %tr.main__contents__table__head
          %th.main__contents__table__head__cell タイトル
          %th.main__contents__table__head__cell 金融機関名
          %th.main__contents__table__head__cell 借入日
          %th.main__contents__table__head__cell 当初借入額
          %th.main__contents__table__head__cell 残高
          %th.main__contents__table__head__cell 利率
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入A
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入A
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入A
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入A
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入A
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record
          %td
            = link_to "#" do
              .main__contents__table__record__cell 新規借入B
          %td.main__contents__table__record__cell みずほ銀行
          %td.main__contents__table__record__cell 2020/4/1
          %td.main__contents__table__record__cell 50,000,000
          %td.main__contents__table__record__cell 20,000,000
          %td.main__contents__table__record__cell 2.000%
        %tr.main__contents__table__record--total
          %td.main__contents__table__record__cell 合計
          %td.main__contents__table__record__cell 
          %td.main__contents__table__record__cell 
          %td.main__contents__table__record__cell 
          %td.main__contents__table__record__cell 200,000,000
          %td.main__contents__table__record__cell 
      


